.container {
  width: 1600px;
  margin: auto;

  .subcontainer {
    width: 90%;
    margin: auto;

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
      padding: 20px;
      overflow-x: hidden;

      .img {
        width: 100%;
        min-height: 275px;
        background-position: center;
        background-size: cover;

        &:nth-child(1) {
          background-image: url(images/img-1.jpg);
        }
        &:nth-child(2) {
          background-image: url(images/img-2.jpg);
        }
        &:nth-child(3) {
          background-image: url(images/img-3.jpg);
        }
        &:nth-child(4) {
          background-image: url(images/img-4.jpg);
        }
        &:nth-child(5) {
          background-image: url(images/img-5.jpg);
          grid-row: 3/4;
        }
        &:nth-child(6) {
          background-image: url(images/img-6.jpg);
        }
        &:nth-child(7) {
          background-image: url(images/img-7.jpg);
          grid-row: 3/5;
          grid-column: 1/2;
        }
        &:nth-child(8) {
          background-image: url(images/img-8.jpg);
        }
        &:nth-child(9) {
          background-image: url(images/img-9.jpg);
          grid-column: 2/4;
        }
      }
    }
  }
}

// ------------------------Responsive section
@media (max-width: 1600px) {
  .container {
    width: 100%;
  }
}
